<%- include("partials/header.ejs") %>

    <div class="newblog">
        <form action="/submit" method="POST">
            <input type="text" name="title" id="" placeholder="Blog Title">
            <input class="content" type="text" name="content" placeholder="Start Writing...">
            <button type="submit">Submit</button>
        </form>

    </div>